* {
    font-family: 'MedievalSharpBold';
    font-weight: bold;
    font-style: normal;
    box-sizing: border-box;
    background: url(http://texturelib.com/Textures/brick/medieval/brick_medieval_0112_01_preview.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #003333;

}

.container {

    .header{
        font-size: 72px;
    }

    .machine {
        width: 70%;
        margin: 0 auto;
        border: 5px solid #003333;
        text-align: center;
        height: 80vh;

        .machineHeader{
            font-size: 36px;
        }

        .year{
            font-size: 36px;
            border: 2px solid #003333;
            width: 30%;
            margin: 10% auto;
        }

        button {
            background-color:#444a4b;
            font-size: 24px;
            margin: 5%;
            padding: 2%;



        }

        #behind {
            background-color: #003333;
        }

        #ahead {
            background-color: #003333;
        }

        #stop {
            background-color: #003333;
        }
    }
}